.footer {
    width: 100%;
    height: 30px;
    background-color: #9C27B0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: white;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Pretendard";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.12px;
}