.sidebar {
    width: auto;
    height: 100%;
    background-color: transparent;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    //padding: 10px 10px 10px 0;
    .nav-buttonWrap {
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 46px;
        box-sizing: border-box;
        padding: 10px 8px;
            a {
                padding: 20px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                img {
                   width: 20px;
                   height: 20px;
                   min-width: 20px;
                   min-height: 20px;
                   object-fit: contain;
                }
                &.active {
                    background-color: rgba(156, 39, 176, 1);
                    border-radius: 10px;
                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        
    }
}